/* custom.css */

details {
  margin-bottom: 1em;
}

summary {
  cursor: pointer;
  font-weight: bold;
}

details[open] summary::after {
  content: " ▲";
}

summary::after {
  content: " ▼";
  padding-left: 5px;
}
